<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="static/css/article_detail.css">
	<link rel="stylesheet" href="static/css/styles/default.css">
	<script type="text/javascript" src="static/js/index.js"></script>
    <script src="static/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
		<header>
		<div class="header-menu-one">
			<span class="logo">W.M<span>Code</span></span>
			<span class="home"><a href="index.html">Home</a></span>
			<span class="about">About</span>
			<span class="projects">Projects</span>
			<span class="contact">Contact</span>
		</div>
	</header>

	<section class="about-ection-main">
		<div>
			<span class="about-me-text">About Me</span><br>
			<img class="profile-pic" src="static/images/thumbnails/4rsmokehouse.com-crop.png"></div>
		<p>
			I you are on this page that means you are wondering who am I. The simple version, I am just a guy who loves to code, 'Yes I do love to code'. <br>
		</p>

		<p>
			Prior to june 2017 I had no idea what computer programming was all about. I would always get amazed each time I look at a computer and see what it can do. I had no clue that the heart of all software on my computer was computer programming. <br>
		</p>

        <p>
			One day a friend mensioned the dreaded statement, "computer programming", in my presence. Wondering what that was all about I found myself on all all time friend google, googling 'computer programming'. Then google bombaded me with lots of jibrish that I could not understand, little did I know that was actually programming language sytaxes. <br>
		</p>

		<p>
			I downloaded a C# texbook , tried to devulge myself in it, few minutes later , I found myself taking cafenols trying to alleviate a deadache, " I blammed c# for that". <br>
		</p>

        <p>
			Latter that week as I become more weary about computer proggramming , I saw a coding advert from a local hub. I applied, made all the necessary arrangements. A month later , I found myself seating on a computer strugling to understand basics python on Treehouse as it turns out the hub was a afiliate of treehouse which was all good. I loved Treehouse.<br>
		</p>

		<p>
			From python basics to advance Object oriented , flask, django. I started playing around with these building some prototype sites, The sites were not impressive though. Something was lack. After some time I started doing HTML and CSS. With a markup language and cascading style sheets on my belt , my sites begin look better. 
			<br>
		</p>

		<p>
			Fast forward 2019 I joined the php bendwagon. Played a little with wordpress. I did some unspeakable things to wordpress themes. Well I was learning. <br>
		</p>

		<p>
			I realised I am not immune to frustration , demotivation from spending hundreds of hours stering at a computer screen trying to debug some code. So created <span class="logo">W.M<span>Code</span></span> to help me minimise the frustration and demotivation by documenting my learning activities.
		</p>

			<h5>Honestly I am still learning, so they are definately going to be lots of bugs in my small projects</h5>


			<b>Thank you for vising my blog</b><br><br>

			<span>Check out my contacts page for my contacts <a href="contacts.html">contact information</a></span>


		<div>
			<span>Technologies used to build this blog</span><br>
			<ul>
				<li><h4>FrontEnd</h4></li>
				<li>HTML</li>
				<li>CSS</li>
				<li>Javascript</li>
				<li><h4>BackEnd</h4></li>
				<li>php</li>
			</ul>
			<span>No frameworks are used for learnig purposes</span>
		</div>
	</section>





	<!-- Footer Start -->
	
    <footer>W.M Code &copy; 2019</footer>
	<!-- Footer End -->
</body>
</html>